In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv("/content/Admission_Predict.csv")
data.drop(["Serial No."], axis=1, inplace=True)

In [3]:
X=data.drop(['Chance of Admit '],axis=1) #input data_set
y=data['Chance of Admit '] #output labels
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

Modelling and Training

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
X_train[X_train.columns] = scaler.fit_transform(X_train[X_train.columns])
X_test[X_test.columns] = scaler.transform(X_test[X_test.columns])
X_train.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
113,0.60,0.642857,0.25,0.750,0.625,0.564103,0.0
16,0.54,0.535714,0.50,0.750,0.500,0.608974,0.0
200,0.54,0.392857,0.50,0.375,0.500,0.557692,1.0
303,0.66,0.535714,0.50,0.625,0.625,0.560897,1.0
179,0.34,0.357143,0.50,0.500,0.500,0.471154,0.0

In [5]:
from sklearn.ensemble import GradientBoostingRegressor
rgr = GradientBoostingRegressor()
rgr.fit(X_train,y_train)

GradientBoostingRegressor()

In [6]:
rgr.score(X_test,y_test)

0.694093354564808

In [7]:
y_predict=rgr.predict(X_test)

In [8]:
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import numpy as np
print('Mean Absolute Error:', mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 0.05917579895977068
Mean Squared Error: 0.0061945755804353655
Root Mean Squared Error: 0.0787056261040808

In [9]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [10]:
from sklearn.linear_model._logistic import LogisticRegression

lore = LogisticRegression(random_state=0, max_iter=1000)

lr = lore.fit(X_train, y_train)

In [11]:
y_pred = lr.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print('Accuracy Score:', accuracy_score(y_test, y_pred))  
print('Recall Score:', recall_score(y_test, y_pred))  
print('ROC AUC Score:', roc_auc_score(y_test, y_pred))
print('Confussion Matrix:\n', confusion_matrix(y_test, y_pred))

Accuracy Score: 0.9166666666666666
Recall Score: 1.0
ROC AUC Score: 0.5
Confussion Matrix:
 [[ 0  5]
 [ 0 55]]